/*--- Reusable variables and basic settings ---*/
:root {
  --stripe-animation-duration: 15s;
  --navbar-animation-duration: 1s;

  --main-color-white: rgb(238, 237, 236);
  --main-color-red: rgb(190, 65, 65);
  --main-color-blue: rgb(68, 160, 172);
  --main-color-bright-blue: rgb(84, 197, 212);
  --main-color-gold: rgb(229, 180, 83);
  --main-color-dark-red: rgb(118, 38, 38);
  --main-color-dark-grey: rgb(53, 45, 45);
}
body {
  margin-left: 0px;
  overflow: hidden;

  background-color: rgb(144, 50, 50);
  /* background-color: rgb(53, 45, 45); */
  /*Note to self, change these colors, it's too much man*/
}
p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}
.hidden {
  opacity: 0;
}
/*---- Navbar Settings ----*/
.attached-navbar {
  display: flex;
  justify-self: center;
  gap: 2em;

  margin-top: 8em;
  border-left: groove 5px var(--main-color-white);
  border-right: groove 5px var(--main-color-white);
  border-top: double 5px var(--main-color-white);
  border-radius: 10px;

  background-color: var(--main-color-dark-red);
  transform: translate(0%, 85%);
}
.attached-navbar:hover {
  transform: translate(0%, 0%);
  transition: transform 0.3s ease-in-out;
}
.attached-navbar a {
  text-decoration: none;
  color: black;
  font-size: 2em;
  font-weight: 600;

  padding: 0 1rem;
}
.attached-navbar a:hover {
  color: var(--main-color-white);
}

/*---- Spotify Window ----*/
.spotify-window {
  height: 70%;
  width: 90%;
  margin-top: 1rem;

  display: flex;
  align-self: center;

  border: 8px groove var(--main-color-white);
  border-radius: 10px;
}
.player-controls {
  display: flex;
  flex-direction: row;

  align-self: center;
  margin-top: 2rem;
}
.player-controls img {
  height: 50px;
  width: 50px;
  margin: 0 10px;
}
.player-controls img:hover {
  box-shadow: 0px 0px 0px 4px var(--main-color-white);

  border-radius: 12px;
}
.player-controls .smaller-btn img {
  height: 35px;
  width: 35px;
  padding-top: 0.5rem;
}
.lower-row {
  margin-top: 0;
}
.lower-row.right-mute {
  margin-left: auto;
  margin-bottom: 1rem;
}
/*--- User Login ---*/
.user-login {
  position: absolute;
  right: 2rem;
  top: 2rem;
}
.user-login .backdrop-crayon {
  position: absolute;
  left: 0rem;
  top: -1rem;
  height: 100px;
  width: 100px;

  z-index: -1;
  pointer-events: none;
  transform: rotate(15deg);
}
.user-login img {
  z-index: 1;

  height: 75px;
  width: 75px;
}

/*---- Toast Window ----*/
.toast {
  position: absolute;
  right: 10rem;
  bottom: 10rem;

  height: 10rem;
  width: 25rem;

  transform: rotate(-5deg);

  box-shadow: 0px 0px 0px 5px var(--main-color-red), 0px 0px 0px 10px var(--main-color-gold),
    0px 0px 0px 15px var(--main-color-white), 0px 0px 0px 20px var(--main-color-bright-blue),
    0px 0px 0px 25px var(--main-color-blue);
}
.toast-body {
  justify-self: center;

  margin: 2rem 1rem;
  padding: 1rem 1rem;

  border: 5px ridge var(--main-color-red);
}
.toast-msg {
  color: var(--main-color-white);

  font-size: large;
  font-weight: 600;
}

/*---- Box Rainbow ----*/
@keyframes spinner-animation {
  0% {
    box-shadow: 0px 0px 0px 10px var(--main-color-red), 0px 0px 0px 20px var(--main-color-gold),
      0px 0px 0px 30px var(--main-color-white), 0px 0px 0px 40px var(--main-color-bright-blue),
      0px 0px 0px 50px var(--main-color-blue);
  }

  20% {
    box-shadow: 0px 0px 0px 10px var(--main-color-blue), 0px 0px 0px 20px var(--main-color-red),
      0px 0px 0px 30px var(--main-color-gold), 0px 0px 0px 40px var(--main-color-white),
      0px 0px 0px 50px var(--main-color-bright-blue);
  }
  40% {
    box-shadow: 0px 0px 0px 10px var(--main-color-bright-blue),
      0px 0px 0px 20px var(--main-color-blue), 0px 0px 0px 30px var(--main-color-red),
      0px 0px 0px 40px var(--main-color-gold), 0px 0px 0px 50px var(--main-color-white);
  }
  60% {
    box-shadow: 0px 0px 0px 10px var(--main-color-white),
      0px 0px 0px 20px var(--main-color-bright-blue), 0px 0px 0px 30px var(--main-color-blue),
      0px 0px 0px 40px var(--main-color-red), 0px 0px 0px 50px var(--main-color-gold);
  }
  80% {
    box-shadow: 0px 0px 0px 10px var(--main-color-gold), 0px 0px 0px 20px var(--main-color-white),
      0px 0px 0px 30px var(--main-color-bright-blue), 0px 0px 0px 40px var(--main-color-blue),
      0px 0px 0px 50px var(--main-color-red);
  }
  100% {
    box-shadow: 0px 0px 0px 10px var(--main-color-red), 0px 0px 0px 20px var(--main-color-gold),
      0px 0px 0px 30px var(--main-color-white), 0px 0px 0px 40px var(--main-color-bright-blue),
      0px 0px 0px 50px var(--main-color-blue);
  }
}

.colorful-div {
  position: absolute;
  top: 20%;
  left: 35%;
  display: flex;
  flex-direction: column;

  height: 60%;
  width: 30%;
  border-radius: 5px;

  background-color: var(--main-color-dark-red);

  box-shadow: 0px 0px 0px 10px var(--main-color-red), 0px 0px 0px 20px var(--main-color-gold),
    0px 0px 0px 30px var(--main-color-white), 0px 0px 0px 40px var(--main-color-bright-blue),
    0px 0px 0px 50px var(--main-color-blue);

  animation-name: spinner-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

/*---- Bottom Rainbow ----*/
.rainbow-line-wrapper {
  position: absolute;
  bottom: 10%;

  height: 0%;
  width: 100%;
}
.stripe {
  height: 15px;
  width: 100%;

  overflow: hidden;
}
.stripe-red {
  background-color: var(--main-color-red);
  animation: moveDot var(--stripe-animation-duration) linear infinite;
  animation-delay: 100ms;
}
.stripe-yellow {
  background-color: var(--main-color-gold);
  animation: moveDot var(--stripe-animation-duration) linear infinite;
  animation-delay: 150ms;
}
.stripe-white {
  background-color: var(--main-color-white);
  animation: moveDot var(--stripe-animation-duration) linear infinite;
  animation-delay: 200ms;
}
.stripe-bright-blue {
  background-color: var(--main-color-bright-blue);
  animation: moveDot var(--stripe-animation-duration) linear infinite;
  animation-delay: 250ms;
}
.stripe-light-blue {
  background-color: var(--main-color-blue);
  animation: moveDot var(--stripe-animation-duration) linear infinite;
  animation-delay: 300ms;
}

.moving-dot {
  display: inline-block;
  position: absolute;
  width: 80%;
  height: 15px;

  border-radius: 25px;
}

@keyframes moveDot {
  0% {
    left: -100%;
  }
  100% {
    left: 1000%;
    transform: translateX(-1000%);
  }
}

/*---- Template CSS (Gets added to template's added from JavaScript) ----*/
.playlists-navbar {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif; /* Different Font for these */
  font-size: larger;

  background-color: var(--main-color-dark-grey);
  padding-right: 1rem;

  border-right: groove 10px gray;
}
.playlists-navbar a,
p {
  display: flex;

  margin-left: 1rem;
}
.playlists-navbar a {
  margin-top: 1rem;

  text-decoration: none;
  color: black;

  transform: rotate(-5deg);
}
.playlists-navbar a:hover {
  color: var(--main-color-white);

  transform: rotate(-10deg);
}
